# Ignore everything by default
*
# Unignore certain paths
!*.yaml
!*.md
!/rest/
!/templates/
!/automations/
!/esphome/
!/mqtt/
!/mqtt/**/*
!/sensors/
!/custom_templates/
!/custom_templates/**/*
!/dashboards/
!/dashboards/**/*
!/typescript/
!/typescript/**/*
!/home_automation/
!/home_automation/**/*
!.gitignore
!LICENSE

# And then selectively ignore others
**/secrets.yaml
ip_bans.yaml
known_devices.yaml

# Sadly, we have to ignore the gas price automation because it's not currently
# possible to have template variables in rest payloads, and I don't feel like
# using curl for something so simple.
# See gas_price.md for a generic version of the restful integration
/rest/gas_price.yaml
