# Ignore everything by default
*
# Unignore certain paths
!*.yaml
!*.md
!/rest/
!/templates/
!/automations/
!/esphome/
!/mqtt/
!/mqtt/**/*
!/packages/
!/packages/**/*
!/sensors/
!/custom_templates/
!/custom_templates/**/*
!/dashboards/
!/dashboards/**/*
!/home_automation/
!/home_automation/**/*
!.gitignore
!LICENSE

# And then selectively ignore others
**/secrets.yaml
ip_bans.yaml
known_devices.yaml
home_automation/src/secrets.mts
home_automation/src/hass
home_automation/src/hass/**/*
