- id: '1713917815664'
  alias: Turn off office fan
  description: Turn off the office fan after 6 hours
  triggers:
  - entity_id:
    - fan.office
    to: 'on'
    trigger: state
  conditions: []
  actions:
  - action: dyson_local.set_timer
    metadata: {}
    data:
      timer: 360
    target:
      device_id: 2db35465e9f3e6b2b44f7869757965fc
  mode: single
- id: '1749605313166'
  alias: Bedside Vornado toggle
  description: ''
  triggers:
  - trigger: event
    event_type: lutron_event
    event_data:
      full_id: master_bedroom_unknown_button_4
  conditions: []
  actions:
  - action: switch.toggle
    metadata: {}
    data: {}
    target:
      entity_id: switch.vornado
  mode: single
- id: '1753414513307'
  alias: Reload DA after reboot
  description: ''
  triggers:
  - trigger: homeassistant
    event: start
  conditions: []
  actions:
  - delay:
      hours: 0
      minutes: 2
      seconds: 0
      milliseconds: 0
  - action: homeassistant.reload_config_entry
    metadata: {}
    data: {}
    target:
      device_id: ce336deaa31341b76c7f8575e4a24742
  mode: single
- id: '1762024608262'
  alias: Toggle Jeff's bedside heater on/off
  description: ''
  triggers:
  - trigger: event
    event_type: lutron_event
    event_data:
      full_id: master_bedroom_unknown_button_5
  conditions: []
  actions:
  - action: switch.toggle
    metadata: {}
    data: {}
    target:
      entity_id: switch.jeff_s_bed_heater
  mode: single
- id: '1763018668462'
  alias: Aurora Alert
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.aurora_visibility_visibility_alert
    to: 'on'
    from: 'off'
    for:
      hours: 0
      minutes: 5
      seconds: 0
  conditions: []
  actions:
  - action: notify.all
    metadata: {}
    data:
      title: Aurora Visibility Alert
      message: There's a {{ states('sensor.aurora_visibility_visibility') }}% chance
        of aurora visibility in the next 30 minutes.
  mode: single
