# Automatic cat feeder

substitutions:
  name: cat-feeder-659621
  friendly_name: Cat Feeder

# Import common packages
packages:
  base: !include common/base.yaml
  wifi: !include common/wifi.yaml
  time: !include common/time.yaml

esp8266:
  board: d1_mini

output:
  - platform: gpio
    pin: D5
    id: motor_relay
    inverted: true

event:
  - platform: template
    id: feed_event
    name: Feed Event
    event_types:
      - automated_feed
      - manual_feed

button:
  - platform: output
    id: feed_cycle
    output: motor_relay
    duration: 750ms
    internal: true
  - platform: template
    id: feed_cat
    name: "Feed Cat"
    on_press:
      - button.press: feed_cycle
      - event.trigger:
          id: feed_event
          event_type: manual_feed


time:
  - id: !extend ha_time
    on_time:
      - hours: "14,18"
        minutes: 0
        seconds: 0
        then:
          - button.press: feed_cycle
          - event.trigger:
              id: feed_event
              event_type: automated_feed
