esphome:
  name: "chicken-coop-be4e8c"
  friendly_name: Chicken Coop
  min_version: 2024.11.0
  name_add_mac_suffix: false

esp32:
  board: seeed_xiao_esp32c3
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:

# Allow Over-The-Air updates
ota:
  - platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  # Set up a wifi access point
  ap:
    ssid: "chicken-coop-be4e8c"

debug:
  update_interval: 5s

script:
  - id: stop_motor
    then:
      - switch.turn_off: switch_motor3
      - switch.turn_off: switch_motor4
  - id: forward_motor
    then:
      - switch.turn_off: switch_motor4
      - switch.turn_on: switch_motor3
  - id: reverse_motor
    then:
      - switch.turn_off: switch_motor3
      - switch.turn_on: switch_motor4
  - id: maybe_open_door
    then:
      - if:
          condition:
            lambda: "return id(auto_open).state && id(chicken_coop_door).position == COVER_CLOSED;"
          then:
            - cover.open: chicken_coop_door

switch:
  - platform: gpio
    pin: GPIO2
    id: switch_motor3
    name: "motor 3"
    interlock: &motor_interlock [switch_motor3, switch_motor4]
    interlock_wait_time: 100ms
  - platform: gpio
    pin: GPIO3
    id: switch_motor4
    name: "motor 4"
    interlock: *motor_interlock
    interlock_wait_time: 100ms

  - platform: template
    id: auto_open
    name: "Automatic Open"
    optimistic: true
    restore_mode: RESTORE_DEFAULT_OFF

  - platform: template
    id: reverse_controls
    name: "Reverse Controls"
    restore_mode: RESTORE_DEFAULT_OFF
    optimistic: true

binary_sensor:
  - platform: gpio
    pin:
      number: GPIO5
      mode:
        input: true
        pullup: true
    id: coop_door_top_stop
    entity_category: diagnostic
    name: Top Stop
    filters:
      - invert
  - platform: gpio
    pin:
      number: GPIO4
      mode:
        input: true
        pullup: true
    id: coop_door_bottom_stop
    name: Bottom Stop
    entity_category: diagnostic
    filters:
      - invert
      - delayed_on: 1s
  - platform: gpio
    pin:
      number: GPIO21
      mode:
        input: true
        pullup: true
    id: coop_door_button
    filters:
      - delayed_on: 10ms
    on_press:
      then:
        - lambda: |-
            auto call = id(chicken_coop_door).make_call();
            call.set_command_toggle();
            call.perform();

cover:
  - platform: feedback
    id: chicken_coop_door
    name: Chicken Coop Door
    device_class: garage
    max_duration: 10s
    stop_action:
      - script.execute: stop_motor
    open_action:
      - if:
          condition:
            switch.is_on: reverse_controls
          then:
            - script.execute: reverse_motor
          else:
            - script.execute: forward_motor
    open_endstop: coop_door_top_stop
    open_duration: 8s
    close_action:
      - if:
          condition:
            switch.is_on: reverse_controls
          then:
            - script.execute: forward_motor
          else:
            - script.execute: reverse_motor
    close_duration: 8s
    close_endstop: coop_door_bottom_stop

time:
  - platform: homeassistant
    on_time:
      - minutes: 0
        seconds: 0
        hours: 9-12
        then:
          - script.execute: maybe_open_door

number:
  - platform: template
    name: "Open Delay"
    id: open_delay
    min_value: 0
    max_value: 600
    unit_of_measurement: "min"
    mode: box
    step: 1
    optimistic: true
    restore_value: true
    initial_value: 30
    icon: mdi:weather-sunset-up
  - platform: template
    name: "Close Delay"
    id: close_delay
    min_value: 0
    max_value: 600
    unit_of_measurement: "min"
    mode: box
    step: 1
    optimistic: true
    restore_value: true
    initial_value: 15
    icon: mdi:weather-sunset-down


sun:
  latitude: !secret latitude
  longitude: !secret longitude
  on_sunrise:
      - then:
        - delay: !lambda 'return id(open_delay).state * 60000;'
        - script.execute: maybe_open_door
  on_sunset:
    - then:
        - delay: !lambda 'return id(close_delay).state * 60000;'
        - cover.close: chicken_coop_door

text_sensor:
  - platform: sun
    name: Next Auto Open
    type: sunrise
    format: "%Y-%m-%d %H:%M:%S"
    entity_category: "diagnostic"
    update_interval: 10min
    filters:
      lambda: |-
        const std::string input_time(x);

        ESPTime parsed_time;
        ESPTime::strptime(input_time, parsed_time);

        parsed_time.recalc_timestamp_local();
        parsed_time = ESPTime::from_epoch_local(parsed_time.timestamp + id(open_delay).state * 60);

        char buffer[64];
        parsed_time.strftime(buffer, sizeof(buffer), "%Y-%m-%d %H:%M:%S");
        return std::string(buffer);

  - platform: sun
    name: Next Auto Close
    type: sunset
    format: "%Y-%m-%d %H:%M:%S"
    entity_category: "diagnostic"
    update_interval: 10min
    filters:
      lambda: |-
        const std::string input_time(x);

        ESPTime parsed_time;
        ESPTime::strptime(input_time, parsed_time);

        parsed_time.recalc_timestamp_local();
        parsed_time = ESPTime::from_epoch_local(parsed_time.timestamp + id(close_delay).state * 60);

        char buffer[64];
        parsed_time.strftime(buffer, sizeof(buffer), "%Y-%m-%d %H:%M:%S");
        return std::string(buffer);
  - platform: debug
    device:
      name: "Device Info"
      entity_category: "diagnostic"
    reset_reason:
      name: "Reset Reason"
      entity_category: "diagnostic"

button:
  - platform: restart
    name: "Restart Chicken Coop"
