substitutions:
  name: "weather-sensors-abe59c"
  friendly_name: Weather sensors

# Import common packages

packages:
  base: !include common/base.yaml
  wifi: !include common/wifi.yaml
  improv: !include common/improv.yaml
  diagnostics: !include common/diagnostics.yaml

esp32:
  board: seeed_xiao_esp32c3
  framework:
    type: esp-idf

uart:
  tx_pin: GPIO21
  rx_pin: GPIO20
  baud_rate: 9600

sensor:
  - platform: hydreon_rgxx
    model: RG_15
    id: hydreon_1
    acc:
      name: Rain Accumulation
      id: rain_acc
    event_acc:
      name: Rain Event Accumulation
      id: rain_event_acc
    total_acc:
      name: Rain Total Accumuation
      id: rain_total_acc
    r_int:
      name: Rain Intensity
      id: rain_intensity
    update_interval: 10s
binary_sensor:
  - platform: hydreon_rgxx
    hydreon_rgxx_id: hydreon_1
    lens_bad: &lens_bad
      name: Lens Bad
      device_class: problem
      entity_category: "diagnostic"
    em_sat:
      <<: *lens_bad
      name: Emitter Saturated
